<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986421179797-7l2k5b659kqg88vicrlp53oopru2hvg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986421179797-7l2k5b659kqg88vicrlp53oopru2hvg2</string>
	<key>API_KEY</key>
	<string>AIzaSyDTVybBeKh5YnlPOxwnta_D0NUnV8NCsy8</string>
	<key>GCM_SENDER_ID</key>
	<string>986421179797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdev.general</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-7e5b2</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-7e5b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:986421179797:ios:f6773e49ddd5b98d4eb29c</string>
</dict>
</plist>
